=form_for('pdfs', :html => {:multipart => true}) do |f|
  
  =f.label t('pdf.post')
  =f.file_field "pdf"
  .actions
    = f.submit I18n.t('submit')

%p.blurb
  This site will remove restrictions on copy/paste and printing from PDF files. Unfortunately we cannot read encrypted PDFs. You can try, but they will come back blank. All files are deleted shortly after you download them. We do not keep any of the files you upload. Ever. 
